In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
dtypes = {
    "year": "int16",
    "export_value": "float64",
    "import_value": "float64",
    "country_iso3_code": "category",
    "partner_iso3_code": "category",
    "product_hs92_code": "string"
}
usecols = ["year", "export_value", "country_iso3_code", "product_hs92_code", "partner_iso3_code", "import_value"]

# 1995-1999

In [5]:
HS_92_9599 = pd.read_csv('hs92_country_country_product_year_6_1995_1999.csv')

C:\Users\traza\AppData\Local\Temp\ipykernel_17836\954546912.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  HS_92_9599 = pd.read_csv('hs92_country_country_product_year_6_1995_1999.csv')

In [7]:
HS_92_9599

,country_id,country_iso3_code,partner_country_id,partner_iso3_code,product_id,product_hs92_code,year,export_value,import_value
0,4,AFG,12,DZA,8831,841510,1995,31968,0
1,4,AFG,12,DZA,5337,90930,1996,196547,0
2,4,AFG,12,DZA,5443,130190,1996,15366,0
3,4,AFG,12,DZA,5337,90930,1997,179957,0
4,4,AFG,12,DZA,5431,121190,1997,2229,0
...,...,...,...,...,...,...,...,...,...
42761615,999,ANS,392,JPN,9247,848330,1999,0,5875
42761616,999,ANS,392,JPN,10037,999999,1999,2563,0
42761617,999,ANS,558,NIC,5407,120740,1997,0,45119
42761618,999,ANS,642,ROU,9575,870821,1996,41711,0
42761619,999,ANS,642,ROU,9803,903300,1996,1737,0

In [8]:
HS_92_9599['product_hs92_code'] = HS_92_9599['product_hs92_code'].astype(str).str.zfill(6)

Ahora queremos separar cada HS92 product que estan a nivel 6 digitos a solo 4. Para eso el metodo más simple es truncar o filtrar por los primeros 4 digitos. En este caso los primeros 4 caracteres.

In [9]:
HS_92_9599['product_hs92_code'] = HS_92_9599['product_hs92_code'].str[:4]

In [ ]:
HS_92_9599_grouped = HS_92_9599.groupby(['country_iso3_code', 'partner_iso3_code', 'product_hs92_code', 'year'])[['export_value', 'import_value']].sum().reset_index()

In [11]:
HS_92_9599_grouped

,country_iso3_code,partner_iso3_code,product_hs92_code,year,export_value,import_value
0,ABW,ALB,2710,1996,14592,0
1,ABW,ATG,7210,1999,0,38305
2,ABW,ATG,7907,1999,0,2012
3,ABW,ATG,8708,1999,0,1296
4,ABW,AUT,0901,1995,0,72961
...,...,...,...,...,...,...
18089875,ZWE,ZMB,9999,1995,12680,156624
18089876,ZWE,ZMB,9999,1996,374421,6414
18089877,ZWE,ZMB,9999,1997,18015,204989
18089878,ZWE,ZMB,9999,1998,130251,339436
18089879,ZWE,ZMB,9999,1999,455711,268079

In [13]:
usecols = ['country_iso3_code', 'product_hs92_code', 'year', 'export_value']
Prod_trade = pd.read_csv('hs92_country_product_year_4.csv', usecols=usecols)

C:\Users\traza\AppData\Local\Temp\ipykernel_6620\1124952467.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Prod_trade = pd.read_csv('hs92_country_product_year_4.csv', usecols=usecols)

Ahora solo queda agrupar en cada pais dependiendo a quien se exporta todos los hs92 codigos a nivel de 4 digitos por cada año.

Es importante no perder informacion respecto a que pais se exporta o desde cual se importa la cantidad especificada.

In [21]:
Prod_trade

        country_iso3_code product_hs92_code  year  export_value
0                     AFG              0101  2001             0
1                     AFG              0101  2002          8767
2                     AFG              0101  2003             0
3                     AFG              0101  2004             0
4                     AFG              0101  2005          7220
...                   ...               ...   ...           ...
6497424               ANS              9107  1995             0
6497425               ANS              9401  1999             0
6497426               ANS              9403  1999             0
6497427               ANS              9999  1996             0
6497428               ANS              9999  1999          2563

[6497429 rows x 4 columns]

In [14]:
Factual = Prod_trade[['country_iso3_code', 'product_hs92_code', 'year', 'export_value']]

In [15]:
Factual = Factual[Factual['year'].isin(Years)]

In [16]:
Check = HS_92_9599_grouped.groupby(['country_iso3_code', 'product_hs92_code', 'year'])['export_value'].sum().reset_index()

In [17]:
Factual = Factual.sort_values(by=['country_iso3_code', 'product_hs92_code', 'year']).reset_index(drop=True)
Check = Check.sort_values(by=['country_iso3_code', 'product_hs92_code', 'year']).reset_index(drop=True)

In [18]:
Factual['product_hs92_code'] = Factual['product_hs92_code'].astype(str).str.zfill(4)

In [19]:
Check[['country_iso3_code', 'product_hs92_code', 'year']].equals(Factual[['country_iso3_code', 'product_hs92_code', 'year']])

False

Es necesario identificar que no esta resultando

In [20]:
Check[Check['country_iso3_code'] == 'CHL'].equals(Factual[Factual['country_iso3_code'] == 'CHL'])

True

Exploremos que pais no es igual.

In [30]:
Paises = Factual['country_iso3_code'].unique()

In [22]:
for pais in Paises:
    if not Check[Check['country_iso3_code'] == pais].equals(Factual[Factual['country_iso3_code'] == pais]):
        print(pais)

AIA
FSM

Encontramos que las unicas discrepancias ocurren en AIA (Anguilla) y FSM (Federated States of Micronesia). Todos los otros paises poseen resultados iguales por la tanto se considera que llegamos correctamente a un Dataset de HS92 a nivel de 4 digitos de Bilateral Trade.

In [24]:
#Exportamos HS_92_9599_grouped a un csv
HS_92_9599_grouped.to_csv('hs92_country_country_product_year_4_1995_1999.csv', index=False)

# 2000-2009

In [18]:
HS_92_0009 = pd.read_csv(
    "hs92_country_country_product_year_4_pre_2000_2009.csv",
    usecols=usecols,
    dtype=dtypes,
)

In [19]:
HS_92_0009

,country_iso3_code,partner_iso3_code,product_hs92_code,year,export_value,import_value
0,AFG,ALB,6601,2002,0.0,99163.0
1,AFG,ALB,9306,2007,0.0,2057713.0
2,AFG,DZA,0909,2000,2385.0,0.0
3,AFG,DZA,0909,2000,9479.0,0.0
4,AFG,DZA,0909,2000,6745.0,0.0
...,...,...,...,...,...,...
109084873,ZMB,SCG,9405,2004,6869.0,0.0
109084874,ZMB,SCG,9999,2004,10445.0,0.0
109084875,ZMB,SCG,9999,2005,0.0,45223.0
109084876,ANS,BOL,8410,2001,13715.0,0.0
109084877,ANS,BOL,8431,2001,4443.0,0.0

In [20]:
HS_92_0009['product_hs92_code'] = HS_92_0009['product_hs92_code'].str[:4]

In [31]:
HS_92_0009.to_csv('hs92_country_country_product_year_4_pre_2000_2009.csv', index=False)

In [24]:
def check_stats_diff(HS_92, Prod_trade):
    years = HS_92['year'].unique()
    usecols = ['country_iso3_code', 'product_hs92_code', 'year', 'export_value']
    HS_92 = HS_92[usecols]
    Prod_trade = Prod_trade[usecols]

    HS_92_grouped = HS_92.groupby(['country_iso3_code', 'product_hs92_code', 'year'], observed=True)['export_value'].sum().reset_index()
    #Guardaremos las estadisticas en un dataframe
    stats_df_total = pd.DataFrame(columns=['year', 'mean_diff', 'median_diff', 'max_diff', 'min_diff'])

    for year in years:
        Prod_trade_year = Prod_trade[Prod_trade['year'] == year]
        HS_92_year = HS_92_grouped[HS_92_grouped['year'] == year]
        diff_df = HS_92_year.merge(Prod_trade_year, on=['country_iso3_code', 'product_hs92_code', 'year'], suffixes=('_hs92', '_prod'), how='outer', indicator=True)
        #drop NaN values in export_value columns
        diff_df['export_value_hs92'] = diff_df['export_value_hs92'].dropna()
        diff_df['export_value_prod'] = diff_df['export_value_prod'].dropna()
        #Select only with merge indicator 'both'
        diff_df = diff_df[diff_df['_merge'] == 'both']
        #Calculate the difference between export_value_prod and export_value_h
        # Absolute difference
        diff_df['export_value_diff'] = (diff_df['export_value_prod'] - diff_df['export_value_hs92']).abs()
        diff_df['export_value_diff'] = diff_df['export_value_diff'].astype('int64')
        stats = {
        'mean_diff': diff_df['export_value_diff'].mean(),
        'median_diff': diff_df['export_value_diff'].median(),
        'max_diff': diff_df['export_value_diff'].max(),
        'min_diff': diff_df['export_value_diff'].min()
        }
        stats['year'] = year
        stats_df_total = pd.concat([stats_df_total, pd.DataFrame([stats])], ignore_index=True)
    #Regresamos stats_df_total ordenado por year
    stats_df_total = stats_df_total.sort_values(by='year').reset_index(drop=True)
    return stats_df_total

In [25]:
check_stats_diff(HS_92_0009, Prod_trade)

C:\Users\traza\AppData\Local\Temp\ipykernel_6620\1787748393.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stats_df_total = pd.concat([stats_df_total, pd.DataFrame([stats])], ignore_index=True)

   year  mean_diff  median_diff max_diff min_diff
0  2000   0.225575          0.0     1488        0
1  2001   0.213561          0.0     1959        0
2  2002   0.215753          0.0      982        0
3  2003   0.256514          0.0     1535        0
4  2004   0.307422          0.0     1199        0
5  2005   0.355001          0.0     1524        0
6  2006   0.409126          0.0     2083        0
7  2007   0.450422          0.0     1401        0
8  2008   0.520891          0.0     2019        0
9  2009   0.410030          0.0     1409        0

In [91]:
HS_92_0009_grouped = HS_92_0009.groupby(['country_iso3_code', 'partner_iso3_code', 'product_hs92_code', 'year'], observed=True)[['export_value', 'import_value']].sum().reset_index()

In [95]:
HS_92_0009_grouped

,country_iso3_code,partner_iso3_code,product_hs92_code,year,export_value,import_value
0,AFG,AGO,0401,2006,11280.0,0.0
1,AFG,AGO,0701,2005,15282.0,0.0
2,AFG,AGO,0701,2007,5407.0,0.0
3,AFG,AGO,0710,2006,70285.0,0.0
4,AFG,AGO,0712,2006,16510.0,0.0
...,...,...,...,...,...,...
46271551,ZMB,UMI,8704,2008,0.0,16065.0
46271552,ZMB,UMI,9999,2007,5366.0,0.0
46271553,ZMB,TCA,4011,2006,0.0,27523.0
46271554,ANS,BOL,8410,2001,13715.0,0.0
46271555,ANS,BOL,8431,2001,4443.0,0.0

In [96]:
# HS_92_0009_grouped a csv
HS_92_0009_grouped.to_csv('hs92_country_country_product_year_4_2000_2009.csv', index=False)

# 2010-2019

In [4]:
HS_92_1019 = pd.read_csv(
    "hs92_country_country_product_year_6_2010_2019.csv",
    usecols=usecols,
    dtype=dtypes,
    low_memory=False
)

In [6]:
HS_92_1019['product_hs92_code'] = HS_92_1019['product_hs92_code'].str[:4]

In [26]:
check_stats_diff(HS_92_1019, Prod_trade)

C:\Users\traza\AppData\Local\Temp\ipykernel_6620\1787748393.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stats_df_total = pd.concat([stats_df_total, pd.DataFrame([stats])], ignore_index=True)

   year     mean_diff  median_diff    max_diff min_diff
0  2010  8.799078e+05          0.0  2553521756        0
1  2011  1.132036e+06          0.0  3156910758        0
2  2012  1.124123e+06          0.0  3027378048        0
3  2013  1.220277e+06          0.0  3146259642        0
4  2014  1.361042e+06          0.0  3594098773        0
5  2015  1.258128e+06          0.0  3503228739        0
6  2016  1.305467e+06          0.0  3528880334        0
7  2017  1.449501e+06          0.0  4053259997        0
8  2018  1.448823e+06          0.0  4138645318        0
9  2019  1.443470e+06          0.0  4783717934        0

In [29]:
HS_4 = pd.read_csv("hs92_product_year_4.csv", dtype={"product_hs92_code": str})
HS_6 = pd.read_csv("hs92_product_year_6.csv", dtype={"product_hs92_code": str})
HS_6["product_hs92_code"] = HS_6["product_hs92_code"].str[:4]
HS_6_grouped = HS_6.groupby(['year', 'product_hs92_code'])[['export_value', 'import_value']].sum().reset_index()
HS_4 = HS_4[["year", "product_hs92_code", "export_value", "import_value"]]
HS_6_grouped.equals(HS_4)

True

Notemos que hay un claro problema con los datos de este dataset. Si uno explora la diferencia desde el total export por producto por año desde el dataset de HS92 de 4 digitos y HS92 de 6 digitos transformado a 4 digitos no se encuentran discrepancias. Por lo tanto la unico conclusion logica es que hay un error en la construccion del dataset entre 2010-2019. Pero es relativamente omitible considerando la magnitud de la max diffs son del orden de 2-4 billones de dolares. Y el promedio rondea el millon de dolares. Algo relativamente insignificante versus las exportaciones globales.

Si considero necesario dejar el disclaimer de que existe este error entre estos años probablemente por un error en la construccion del dataset.

In [10]:
HS_92_1019_grouped = HS_92_1019.groupby(['country_iso3_code', 'partner_iso3_code', 'product_hs92_code', 'year'], observed=True)[['export_value', 'import_value']].sum().reset_index()

In [16]:
# to csv
HS_92_1019_grouped.to_csv('hs92_country_country_product_year_4_2010_2019.csv', index=False)

# 2020-2023

In [30]:
HS_92_2023 = pd.read_csv(
    "hs92_country_country_product_year_6_2020_2023.csv",
    usecols=usecols,
    dtype=dtypes,
    low_memory=False
)

In [31]:
HS_92_2023['product_hs92_code'] = HS_92_2023['product_hs92_code'].str[:4]

In [32]:
check_stats_diff(HS_92_2023, Prod_trade)

C:\Users\traza\AppData\Local\Temp\ipykernel_6620\1787748393.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stats_df_total = pd.concat([stats_df_total, pd.DataFrame([stats])], ignore_index=True)

   year  mean_diff  median_diff max_diff min_diff
0  2020        0.0          0.0        0        0
1  2021        0.0          0.0        0        0
2  2022        0.0          0.0        0        0
3  2023        0.0          0.0        0        0

Nuevamente. Como podemos notar desde 2020 no hay problemas. Esto probablemente se debe a cambios radicales en el nivel de restricciones asociadas a la pandemia del covid-19. Pero previo a esto durante 10 años tenemos problemas. Y considerando que es solo durante este tiempo que hay mayor cantidad de problemas, entonces concluyo que hay un error en el calculo de 2010-2019 por parte de la construccion del dataset.

In [33]:
HS_92_2023_grouped = HS_92_2023.groupby(['country_iso3_code', 'partner_iso3_code', 'product_hs92_code', 'year'], observed=True)[['export_value', 'import_value']].sum().reset_index()

In [34]:
HS_92_2023_grouped

,country_iso3_code,partner_iso3_code,product_hs92_code,year,export_value,import_value
0,ABW,ARE,0101,2022,0.0,1000.0
1,ABW,ARE,0402,2021,10781.0,0.0
2,ABW,ARE,0804,2020,0.0,43649.0
3,ABW,ARE,0902,2020,0.0,18306.0
4,ABW,ARE,0902,2021,0.0,242865.0
...,...,...,...,...,...,...
22338345,ZWE,ZMB,9705,2021,0.0,4423.0
22338346,ZWE,ZMB,9999,2020,121957.0,2139325.0
22338347,ZWE,ZMB,9999,2021,209518.0,175353.0
22338348,ZWE,ZMB,9999,2022,365416.0,288126.0
22338349,ZWE,ZMB,9999,2023,1167410.0,219670.0

In [35]:
HS_92_2023_grouped.to_csv('hs92_country_country_product_year_4_2020_2023.csv', index=False)